picture img{
    border-style: ridge;
    border-width: 2px;
    border-color: grey;
    float: right;
    width: 25%;
    min-width: 180px;
}

.landingPage h1 {
    font-size: x-large;
    margin: 5px 0px;
}

.landingPage p {
    width: 90%;
    margin: auto;
}