header { 
    position: sticky;
    top: 0;
    margin: 0px;
    padding: 1px;
    background-color: rgb(50, 65, 70);
    color: white;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-bottom-color: rgb(224, 224, 224);
}

.headerLogo {
    display: inline-block;
    position: relative;
    cursor: default;
    margin: 0.2rem 20px;
    text-shadow: black 3px 3px;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    padding-right: 2.5%;
}

.headerItem {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 0.5rem 15px;
    text-shadow: black 3px 3px;
    font-size: 1.7em;
    font-weight: bold;
}

.headerIcon {
    display: inline-block;
    position: relative;
    top: 6px;
}

.headerItem a:link, .headerItem a:visited, .headerItem a:hover, .headerItem a:active {
    text-decoration: none;
    color: white;
}

.headerItem:hover, #navMenu:hover{
    animation-name: hoverBob;
    animation-duration: 200ms;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

#dropdownNavList {
    display: none;
    margin: 0px auto;
    width: 100vw;
}

#dropdownNavList ul, li {
    margin: 0px auto;
    padding: 0;
    max-width: 100%;
    text-align: center;
}

#dropdownNavList ul {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0,0,0,0.15);
}

#dropdownNavList li {
    padding: 10px;
    background-color: rgba(0,0,0,0.15);
    width: fit-content;
    border: 1px solid rgba(255,255,255,0.15);
}

#navMenuButton {
    position: relative;
    display: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin: 3px;
    background: url(/assets/icons/menuIcon.png);
    border: 0px;
}

@keyframes hoverBob {
    0% {left: 0px; top: 0px; text-shadow: black 3px 3px;}
    100% {left: -3px; top: -3px; text-shadow: rgb(41, 41, 41) 6px 6px;}
}

@media screen and (max-width: 768px) {
    #navList {
        display: none;
    }
  
    #navMenuButton {
        display: inline-block;
    }
}

@media screen and (min-width: 769px) {
    #dropdownNavList {
        display: none;
    }
}